# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
ErrorDocument 404 /404.php
SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
AddType text/x-component .htc